<div class="container">
  <h1>Edit Employe</h1>

  <a  routerLink="/employe/all" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
          <label for="title">Id:</label>
          <input
              formControlName="id"
              id="id"
              type="number"
              [(ngModel)]="employe.id"
              class="form-control">
          <div *ngIf="f.id.touched && f.id.invalid" class="alert alert-danger">
              <div *ngIf="f.id.errors?.required">Id is required.</div>
          </div>
      </div>
      <div class="form-group">
        <label for="title">Nom:</label>
        <input
            formControlName="name"
            id="name"
            type="text"
            [(ngModel)]="employe.name"
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <div *ngIf="f.name.errors?.required">Name is required.</div>
        </div>
    </div>
    <div class="form-group">
      <label for="title">Service:</label>
      <input
          formControlName="service"
          id="service"
          type="text"
          [(ngModel)]="employe.service"
          class="form-control">
      <div *ngIf="f.service.touched && f.service.invalid" class="alert alert-danger">
          <div *ngIf="f.service.errors?.required">Service is required.</div>
      </div>
  </div>
  <div class="form-group">
    <label for="title">Salaire:</label>
    <input
        formControlName="salary"
        id="salary"
        type="number"
        class="form-control"
        [(ngModel)]="employe.salary">
    <div *ngIf="f.salary.touched && f.salary.invalid" class="alert alert-danger">
        <div *ngIf="f.salary.errors?.required">Salaire is required.</div>
    </div>
</div>




      <button class="btn btn-primary m-2" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
